
@{
    ViewBag.Title = "Početna stranica";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="sadrzaj">
    <h2>Dobrodošli na zvaničnu stranicu sajta polovniautomobili.com</h2>
    <img src="~/Images/pocetna.jpg" id="slika">
</div>