
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="sadrzaj">
    <h2>Kontaktirajte nas</h2>
        <form id="kontaktForma">
            <input name="name" type="text" class="feedback-input" placeholder="Ime" />
            <input name="email" type="text" class="feedback-input" placeholder="Email" />
            <textarea name="text" class="feedback-input" placeholder="Vasa poruka"></textarea>
            <input type="submit" value="POSALJI" />
        </form>
</div>

